# Dependencies
node_modules
.pnpm-store

# Builds
dist
build
.next
out
coverage
*.tsbuildinfo

# Env / secrets
.env
.env.*
!.env.example

# OS / IDE
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json

# Logs / temp
*.log
npm-debug.log*
pnpm-debug.log*
tmp
temp
.cache
